
.section-heading{
    padding: 50px 0 80px;
    text-align: center;
}
.section-heading h2 span{
    color: gold;
}
.section-heading h2{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-heading p span{
    color: gold;
    font-weight: 700;
}
.section-heading p{
    font-size: 18px;
}
.title-price .h5, .title-price p{
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0;
}
.single-product img{
    transition: .9s;
}
.single-product:hover img{
    transform: scale(1.3);
}


/* Responsive */

@media (max-width: 768px) {
    .section-heading h2{
        font-size: 34px;
    }
    .section-heading p{
        font-size: 16px;
    }
    .title-price .h5, .title-price p{
        font-size: 20px;
    }
}
