.about-content{
   padding: 150px 0 100px;
}
.about-text{
    padding-top: 50px;
}
.about-text h2 span{
    color: gold;
}
.about-text h2{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 3px;
}
.about-text p{
    font-size: 18px;
    padding: 20px 0;
}
.about-text p span{
    color: gold;
    font-weight: 700;
}
.about-img{
    overflow: hidden;
}
.about-img img{
    transition: .9s;
}
.about-img:hover img{
   transform: scale(1.5);
}


/* Responsive */

@media (max-width: 768px) {
    .about-text{
        padding-top: 0;
    }
    .about-text h2{
        font-size: 24px;
    }
    .about-text p{
        font-size: 16px;
    }
}