.product-information{
    padding: 100px 0;
}
.page-heading{
    text-align: center;
    padding: 40px 0;
    background: #000;
    border-radius: 10px;
    margin-top: 40px;
}
.page-heading h2{
    color: gold;
    font-size: 34px;
    font-weight: 700;
}
.product-img{
    overflow: hidden;
}
.product-img img{
    transition: .9s;
    width: 100%;
}
.product-img:hover img{
    transform: scale(1.5);
    cursor: cell;
}
.product-info{
    padding: 40px 0 20px;
}
.product-info h2{
    font-size: 30px;
    font-weight: 700;
    color: #000;
    padding: 5px 0;
}
.product-info h2 i{
    color: gold;
}
.product-info h3{
    margin-top: 20px;
    padding: 5px 0;
    border-bottom: 2px solid gold;
    font-size: 30px;
    font-weight: 700;
}
.product-info p{
    padding: 20px 0;
    font-size: 18px;
    letter-spacing: 2px;
}
.confirm-text{
    text-align: center;
    padding: 5px 0 40px;
}
.confirm-text h2{
    font-size: 30px;
    font-weight: 700;
    color: gold;
}
.purchase-form{
    padding: 50px 20px;
    background-color: #ddd;
    margin-bottom: 80px;
    border-radius: 10px;
}


/* Responsive */

@media (max-width: 768px) {
    .page-heading{
        padding: 25px 0;
    }
    .page-heading h2{
        font-size: 24px;
    }
    .product-info h2{
        font-size: 25px;
    }
    .product-info h3{
        font-size: 25px;
    }
    .product-info p{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .confirm-text h2{
        font-size: 25px;
    }
}